doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        link(rel="stylesheet" href="./css/fork_css.css")
        title Fork Call Test
    body 
        button(class="fullScreenBtn") full screen in
        .p_box
            p(class="left") &nbsp사무실
            p(class="right") 셔틀&nbsp
        .select_fork
            label(for='select_fork') Select fork:&nbsp&nbsp
            select#selectA(name='select_fork')
                option(value='CDD14') CDD14
                option(value='CDD16') CDD16
                option(value='CPD15-T') CPD15-T
        .load_unload_box
            .btnBox
                .btn.load_btn   Load
                .btn.unload_btn Unload
            .closeBtnBox    Close
        .storage
            .storageBox
                .boxLine.H163.L109_3.H132
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H164.L110_3.H131
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
            .storageBox
                .boxLine.H165.L111_3.H130
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H166.L112_3.H129
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
            .storageBox
                .boxLine.H167.L113_3.H128
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H168.L114_3.H127
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
            .storageBox
                .boxLine.H169.L115_3.H126
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H170.L116_3.H125
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
            .storageBox
                .boxLine.H171.L117_3.H124
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H172.L118_3.H123
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
            .storageBox
                .boxLine.H173.L119_3.H122
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
                .boxLine.H174.L120_3.H121
                    .box    LV_3
                    .box    LV_2
                    .box    LV_1
    script(src="./js/fork_js.js")